{% extends 'layouts/index.html'%}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">BIENVENID@ LORENZO</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo quia eveniet quod dolorum exercitationem, similique soluta deserunt ratione eos expedita. Et sint, officia neque eligendi dignissimos veritatis nam maxime.
                </p>
                
            </div>
        </div>
    </div>
{% endblock content%}